<link rel="stylesheet" href="./twitch/twitchkeeper.css"></link>
<div class="megabox">
<input id="searchBox" ng-model="userSearchBox" type="text" placeholder="search users">
<button id="searchButton" ng-click="buttonClick()">Search</button>
<!-- channels go here -->
<span>{{test}}</span>

<div class="control">

  <div class="channel-box" ng-repeat="channel in channels">
    <div class="channelpicnameandchart">
      <div class="channel-picandname">
        <a class="channel-pic" ui-sref='twitchuser({id: channel.userid})'>
          <img class=img src='{{channel.logo}}'>
      </a>

      </div>
      <!--<canvas id="myChart" width="600" height="100"></canvas>-->
      <!-- remove this when we get real chart to use -->
      <div class="keepercharts">
          <chart-dir>
      </div>
      <!-- !!! -->
    </div>
    <div class="channel-game"> {{channel.game}} <span class="channel-viewers"> {{channel.viewers}} viewers on {{channel.display_name}}</span>
    </div>
  </div>
</div> <!-- end ng-repeat -->
</div>
</div>
