<link rel="stylesheet" href="./styles/chart.css"></link>

<!-- chart takes up the space of whatever it is inside -->

<div class='realchart'>
    <div class='bars'>
        <div class="bar" style="
            width: calc((100% * {{stream.streamlength}}));
            font-size: 3px; top: calc(100% * {{stream.yOffset}});
            left: calc(100% * {{stream.xOffset}})"
            ng-repeat="stream in channel.streams">

        </div>
    </div>
    <div class="x-axis">
        <div> now </div>
        <div> 6 hours </div>
        <div> 12 hours </div>
        <div> 18 hours </div>
        <div> 24 hours </div>
    </div>
    <div class="y-axis">
        <div>90 days</div>
        <div>now</div>
    </div>
</div>
