<link rel="stylesheet" href="./styles/chart.css"></link>

<!-- chart takes up the space of whatever it is inside -->
<div class='fakechart'>
    <div class='bar' style="height: 2%">
    </div>
    <div class='bar' style="height: 12%">
    </div>
    <div class='bar' style="height: 20%">
    </div>
    <div class='bar' style="height: 20%">
    </div>
    <div class='bar' style="height: 60%">
    </div>
    <div class='bar' style="height: 80%">
    </div>
    <div class='bar' style="height: 90%">
    </div>
    <div class='bar' style="height: 95%">
    </div>
    <div class='bar' style="height: 60%">
    </div>
    <div class='bar' style="height: 40%">
    </div>
    <div class='bar' style="height: 25%">
    </div>
    <div class='bar' style="height: 5%">
    </div>
</div>
