<link rel="stylesheet" href="./styles/home.css"></styles>

<div class="homebody">
    <p>Hi, my name is Ryan Godwin. </p>
    <p>I won't waste a bunch of time, so heres some info...</p>
    <br>
    <p>I went to University of Oklahoma for a year of CS. I learned some Java and Data Structures there.</p>
    <p> Then I went to DevMountain, a coding bootcamp where you learn to make websites with
        HTML, CSS, JavaScript, AngularJS or React, Node.js, and PostgreSQL.</p>
    <br>
    <p>You can see one of my projects from my time at DevMountain by clicking the twitch icon by the puppy above ^^^</p>
    <p>It tracks Twitch.tv streamers and when they are streaming, displaying on a chart when they are usually on.</p>
    <p>Built with JavaScript, AngularJS, Node.js, PostgreSQL and uses the twitch.tv api.</p>
    <p>The chart is still a bit not fully there yet, but it works.</p>
    <br>
    <p>We also did a 4 man group project that you can see <a href="http://mithikalra.herokuapp.com/">here.</a></p>
    <p>It is an ecommerce site for a fashion designer, built with React, Node.js, PostgreSQL, and AWS S3.</p>
    <br>
    <p>Or if you would rather, you can see some cats here <a class="catbutton" ui-sref="cat">cat</a></p>
    <br>
    <p>Contact Info</p>
    <p><a href="https://www.linkedin.com/in/ryangodwin524/" target="_blank">LinkedIn</a></p>
    <p><a href="https://github.com/FinalFlashLight" target="_blank">Github</a></p>
    <p>Email: ryan.godwin at outlook.com </p>
</div>
