<link rel="stylesheet" href="./styles/twitchkeeper.css"></link>

<input id="searchBox" ng-model="userSearchBox" type="text" placeholder="search users">
<button id="searchButton" ng-click="buttonClick()">Search</button>
<!-- channels go here -->
<span>{{test}}</span>
<div class='channels-box' ng-repeat="channel in channels">
  <div class="channel-box">
    <div class="channel-name" ui-sref='twitchuser({id: channel.userid})'> {{channel.display_name}} </div>
    <div class="channel-pic"><img class=img src='{{channel.logo}}'> </div>
    <div class="channel-game"> {{channel.game}} </div>
    <div class="channel-viewers"> {{channel.viewers}} viewers</div>
  </div>
</div>
