nav-dir{
  display: none;
}
foot-dir{
  display: none;
}
.homebody {
  background-color: #F0F0F0;

}
.homebutton {
  height: 70%;
}
.intro{
  min-height: 600px;
  text-align: center;
  background-color: orange;
  font-family: 'Gochi Hand', cursive;
  font-size: 72px;
  /*background-image: url(./../assets/home/dallas-skyline.jpg);*/
  background-position: center;
  color: #F0F0F0;
  text-shadow: 0px 0px 3px black;
}
#hi {
    padding-top: 200px;
    padding-bottom: 80px;

}
#helloworld{

}
#intro {
    padding:20px;

}
#edu {
  padding: 20px;
}
#educontain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 20px;
}
#edutext{
    font-weight: bold;
    font-size: 64px;
    text-align: center;
}
#ou {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#oulogo{
    width: 200px;
    height: 300px;
}
#outext{

}
#javaimg{
    height: 25px;
    width: 20px;
}
#dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#devlogo {
    width: 320px;
    height: 300px;
}
#devtext {

}
#htmllogo{
    width: 30px;
}
#projects{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
#projectstext{
    font-weight: bold;
    font-size: 64px;
    text-align: center;
}
#projectscontainer{
    border-radius: 2px;
    display: flex;
    flex-direction: column;

    width: 80%;
}
#twitchkeeper {
    padding: 20px;
    width: 100%;
}
#keeperspan{
   font-family: helvetica;
   font-size: 18px;
}
#twitchproject{
    text-shadow: 0px 1px black;
    font-family: helvetica;
    font-size: 20px;
}
#twitchprojecttext{
    padding: 20px;
}
#twitchprojectimgs{
    padding: 20px;
}
#keepernowindow{
    height: 200px;
}
#keepersingle{
    height: 200px;
    padding-left: 10px;
}
#mithi {
    padding: 20px;
    width: 100%;

}
#mithiproject{
  text-shadow: 0px 1px black;
  font-family: helvetica;
  font-size: 20px
}
#mithiprojecttext{
    padding: 20px;
}
#cats {
    padding: 20px;
}
#contact{
    padding: 20px;
}
#contactbox{
    padding: 20px;
}
#contacttext{
    font-weight: bold;
    font-size: 20px;
}
#linkedinimg{
    width:20px;
}
#githubimg{
    width: 20px;
}
#emailimg{
    width: 20px;
}

@media(max-width: 180px){
  .intro{
    height: 500px;
  }
}
