.bar {

  background-color: #602766;
  border-radius: 2px;
  height: 1px;
  position: relative;

}
.bar:hover{
    background-color: yellow;
}

.realchart {
  height: 100%;
  width: 100%;
  background-color: #F0F0F0;
  margin-left: 10px;
  border-radius: 10px;

}
