.bar {

  background-color: #602766;
  border-radius: 2px;
  height: 1px;
  position: relative;
  

}
.bar:hover{
  background-color: red;
}

.realchart {
  height: 100%;
  width: 100%;
  background-color: #F0F0F0;
  margin-left: 10px;
  border-radius: 10px;

}

.bars{
    height: 100%;
    width: 100%;
}
.x-axis{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
}
.y-axis{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10px;
    height: calc(100% + 10px);
    bottom: 110px;
    z-index: -1;
}
