.streamandchat {
 display: flex;
 flex-direction: row;
 width: 100%;
}
.twitchuserbody {
  background-color: #0f7099;
  height: 100vh;
  width: 100%;
}
#stream_embed {
  height: 100%;
  width: 100%;
}
.twitchstreambox {
  width: 70%;
  height: 40vw;
}

#chat_embed {
 height: 100%;
 width: 100%;
}
.chatbox {
  width: 30%;
  height: 40vw;
}
.abovestreamBox {
  height: 40px;
  background-color: #0f7099;
  color: gold;
  font-size: 24px;
  display: flex;
  flex-direction: row;
}

.name {
  padding: 3px;
  margin-left: 10px;
}

.logo {
  height: 40px;
}

.twitchbutton {
  height: 70%;
}
